*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #8BC6EC;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cont1{
    background: linear-gradient(180deg, #8BC6EC , #9599E2 , #252627ea );
}

#card1{
    width: 280px;
    height: 350px;
    background-color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}

#img1{
    width: fit-content;
    height: 550px;
}

#img1 img{
    padding: 14px;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#textbox1{
    padding: 0 14px 14px 14px;
    font-size: 0.8rem;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    flex-direction: column;
    gap: 13px;
}

#textbox1 p{
    font-weight: 520;
}

#cont2{
    background: linear-gradient(180deg, #252627ea , #5b6467 , #84fab0 );
}

#card2{
    width: 270px;
    height: 420px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}

#img2{
    width: 100%;
    height: 27%;
}

#img2 img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0px ;
}

#textbox2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;

    text-align: center;
    font-size:small;
}

#amountbox{
    width: 80%;
    height: 9%;
    background-color: #81bde4;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;

    font-size: small;
}

#amountbox #leftbox{
    display: flex;
    align-items: center;
    gap: 12px;
}

#imgbox{
    width: 25px;
    height: 30px;
}

#imgbox img{
    object-fit:contain;
    border-radius: 8px;

    width: 100%;
    height: 100%;
}

#payment{
    width: 80%;
    height: 9%;
    border-radius: 10px;
    background-color: rgb(10, 15, 60);
    color: white;
    border: 0;
    box-shadow: 0 10px 20px rgba(0 , 0, 0, 0.19) , 0 6px 6px rgba(0, 0, 0, 0.23);
}

#cancelbox a{
    text-decoration: none;
    color: rgb(46, 43, 43);
    font-size: 0.9rem;
    font-weight: bold;
}

#cont3{
    background: linear-gradient(180deg, #84fab0 0%, #8fd3f4 100%);
}

#card3{
    width: 670px;
    height: 370px;
    background-color: purple;

    display: flex;
    justify-content: space-between;

    border-radius: 10px;
}

#card3 #leftbox{
    width: 55%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: white;

    padding: 15px 36px 15px 30px;
}

#card3 #leftbox h1{
    font-size: 1.8rem;
}

#card3 #leftbox p{
    font-weight: 500;
}

#card3 #rightbox{
    width: 45%;
    height: 100%;
}

#card3 #rightbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

#statbox{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#statbox p1{
    font-size: 1.3rem;
    font-weight: 700;
}